doctype html
html
  head
    title= "Augmented Learning"
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="/Materialize/bin/materialize.css", media="screen,projection")
    link(rel="stylesheet", href="/components-font-awesome/css/font-awesome.min.css", media="screen,projection")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet", href="/css/sass/login.css")
    link(rel='stylesheet', href='/css/style.css')
  body
    include navbar
    .container
      .section
        block content
    script(src="/jquery/dist/jquery.js")
    script(src="/Materialize/bin/materialize.js")
    block script
    script.
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal();
        $('select').material_select();
        $('select').material_select();
      });