.navbar-fixed
    nav
        .nav-wrapper
            a(class="brand-logo")
                img(src="/img/logo.svg")
            a(href="#" data-activates="mobile-demo" class="button-collapse")
                i(class="material-icons") menu
            ul(class="right hide-on-med-and-down" id="nav-mobile")
                li
                    a(href="/logout") Salir
            ul(class="side-nav" id="mobile-demo")
                a(href="/logout") Salir
                    li
