div(id="modalSelectPointer" class="modal")
    div(class="modal-content")
        .row
            form(action="/pointer/new/"+subjectId+"/"+themeId method="post")
                div(class="input-field col s12")
                    select(value="" name="contentId" class="" required)
                        option(disabled selected=typeof(selectedPointer) === 'undefined') Seleccionar un puntero
                        each content in contentList
                            option(value=content.contentId selected=content.contentId === selectedPointer) #{content.contentData.name}
                    label Contenido
                button(class="btn waves-effect waves-light" type="submit" name="action") Seleccionar
                    i(class="material-icons right") send

