extends shared/layout
block content
  form.login(action="/login" ,method="post", class="four columns offset-by-four columns ")
    div
      img(src="img/logo.png", class="logo ")
      label(for="email" class="u-max-full-width") Email
      input(type="text" id="email" name="email" class="u-max-full-width")
      label(for="password") Contraseña
      input(type="password" id="password" name="password" class="u-max-full-width")
      button(type="submit" value="submit" class="btn light-green ") Ingresar
