doctype(html5) 
html(ng-app)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")

    meta(name="viewport" content="width=device-width", initial-scale=1.0)
    //link(rel="stylesheet", href="css/normalize.css")
    link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet", href="/css/materialize.min.css", media="screen,projection")
    link(rel="stylesheet", href="/css/style.css")

  body
    include navbar.jade
    .container-fluid
      div(class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;")
        a(class="btn-floating btn-large red modal-trigger" href="#modalNewSubject")
          i(class="large material-icons") playlist_add
      .row
        each element in subjectsByGroup
          div(class="col s6 m4 l3")
            a(href= 'theme/#{element.subjectId}' class="btn-large waves-effect waves-light hoverable") !{element.subject.name+"\n"+element.group.group }


    include newSubject
    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="js/materialize.min.js")
    script.
      $( document ).ready(function(){
        $(".button-collapse").sideNav();
        $('.modal-trigger').leanModal({
                  dismissible: true, // Modal can be dismissed by clicking outside of the modal
                  opacity: .5, // Opacity of modal background
                  in_duration: 200, // Transition in duration
                  out_duration: 200, // Transition out duration
                  ready: function () {

                  }, // Callback for Modal open
                  complete: function () {

                  } // Callback for Modal close
                }
        );
        $('select').material_select();
      })
    //script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js")
    //script(src="/javascripts/controller.js")
