.nav-wrapper .brand-logo img {
  height: 64px;

}
.btn{
  margin: 0 2px;
}
.navbar-fixed{
  margin-bottom: 2em;
}
.card-image > img {
  object-fit: cover;
}

.card .card-image .card-title {
  color: black;
}

li.collection-header{
  list-style: none;
}
